# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open source tools
- Show some examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|--|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
time = 200
converted_time = time/60
print(time,"minutes correspond to", converted_time,"hours")

200 minutes correspond to 3.3333333333333335 hours

## Author
Manon Giraud